<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myandroidlab">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.ImmersiveImageActivity"></activity>
        <activity android:name=".TypographyActivity" />
        <activity android:name=".motion.TransisitionDemoActivity" />
        <activity android:name=".motion.TickCrossActivity" />
        <activity android:name=".motion.InterpolationActivity" />
        <activity android:name=".motion.HeartFillActivity" />
        <activity android:name=".motion.coordinatedmotion.CoordinatedActivity" />
        <activity android:name=".motion.coordinatedmotion.CurveMotionList" />
        <activity android:name=".motion.coordinatedmotion.CurvedMotionDetail" />
        <activity android:name=".motion.coordinatedmotion.MultipleChaoticElements" />
        <activity android:name=".motion.coordinatedmotion.MultipleElements" />
        <activity android:name=".motion.coordinatedmotion.SizeChange" />
        <activity android:name=".motion.TrimPathActivity" />
        <activity android:name=".MotionsActivity" />
        <activity android:name=".ui.EclairActivity" />
        <activity android:name=".RippleActivity" />
        <activity
            android:name=".SurfaceActivity"
            android:label="@string/title_activity_surface"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>